<div class="content">
    <h2>About<br><span>Norma Cruz</span></h2>
    <img src="../public/images/124103212_1062533010839378_8131749556955150709_n.jpg" height="400" alt="Norma Cruz"
        class="person-img" />
    <p>Highly skilled computer programmer who is comfortable with both front and back end programming. I can develop
        both client and server software. In addition to mastering HTML and CSS, I also know how to: Program a browser
        (like using JavaScript, jQuery) Program a server (Node)
        <br>
    <div class="progress-bars-wrapper">
        <div class="progress-bar">
            <p class="progress-text">
                HTML
                <span>97</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                CSS
                <span>97</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                JAVASCRIPT
                <span>87</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                NODE.js
                <span>87</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
    </div>

</div>