<div class="content">
    <h2>About<br><span>Norma Cruz</span></h2>
    {{!-- <img src="../public/images/124103212_1062533010839378_8131749556955150709_n.jpg" height="400" alt="Norma Cruz"
        class="person-img" /> --}}
    <div>
        <img src="/images/normapic.jpg" style="height:18rem">
    </div>
    <p>I live to love and enjoy life. I believe success is within the mind. I love to learn how and why things work.
        I
        enjoy working with others and learning different ways people do similar things. I am as aspiring Software
        Developer, therefore excited to see all the endless possibilities the future holds. I am currently enrolled
        in
        in UCF coding bootcamp and will graduate in March, 26, 2021.
        <br>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Professional Resume</h5>
            <a href="https://github.com/nbmc1991/NCportfolio/blob/main/Normaresumepdf.pdf" class="btn btn-primary">View
                Resume</a>
        </div>
    </div>



    <div class="progress-bars-wrapper">
        <div class="progress-bar">
            <p class="progress-text">
                HTML
                <span>97</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                CSS
                <span>97</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                JAVASCRIPT
                <span>87</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
        <div class="progress-bar">
            <p class="progress-text">
                NODE.js
                <span>87</span>%
            </p>
            <div class="progress-percent"></div>
        </div>
    </div>

</div>


{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> --}}
{{!--
<script src="/js/chart.js"></script> --}}