<div class="content">
    <h2>Hello World<br> My name is <span>Norma Cruz</span></h2>
    <p>I'm a Full Stack Web Developer with great experience with classic backend stacks and front-end frameworks
        including Bootstrap, jQuery, and React. <br>
        <a href="/about">Know More</a>
</div>