<div class="card" style="width: 18rem;">
  <img src="/images/budgetbuddyapp.png" class="card-img-top" tyle="width: 8rem" alt="...">
  <div class="card-body">
    <h5 class="card-title">My Budget Buddy</h5>
    <p class="card-text">My Budget Buddy will help you keep on track of your finances.
    </p>
    <a href="https://young-retreat-92535.herokuapp.com/login" class="btn btn-primary">Use BudgetBuddy</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/techbook.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">TechBook will allow you to keep track of you day by allowing you to enter tasks, noted,etc and
      giving you the option to delete after you've completed.
    </p>
    <a href="https://still-dawn-34056.herokuapp.com/" class="btn btn-primary">Use TechBook</a>
  </div>
</div>