<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">My Budget Buddy</h5>
    <p class="card-text">My Budget Buddy will help you keep on track of your finances. It allows the user to
      input their monthly income along with their monthly expreses and it automatically deducts expeses from income so
      user is presented with what they have left of their monthly salary so they can save or spend depending on their
      goals.
    </p>
    <a href="https://young-retreat-92535.herokuapp.com/login" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>