<div class="content">
    <h2 class="section-heading">My Projects</h2><br>
    <div class="project-wrapper center">
        <div class="project">
            <h2 class="project-name">B(Earn) My Meal</h2>

            <div class="project-text">
                <h4 class="project-technologies">
                    HTML/CSS/JS
                </h4>
            </div>
            <img src="https://user-images.githubusercontent.com/62162419/97796152-f0b7c180-1be4-11eb-990b-c1fcc6dfc8d0.png"
                class="project-image">
            <a href="https://dennydavjncj.github.io/b-Earn-MyMeal/" class="project-link"></a>
        </div>
    </div>

</div>